antlr4-python3-runtime==4.9.3
blender==1.4
bpy==4.0.0
certifi==2024.12.14
charset-normalizer==3.4.1
Cython==3.0.11
hydra-core==1.3.2
idna==3.10
mathutils==3.3.0
numpy==2.2.1
omegaconf==2.3.0
packaging==24.2
PyYAML==6.0.2
requests==2.32.3
scipy==1.15.0
toolbox==1.11.0
urllib3==2.3.0
zstandard==0.23.0
trimesh
